
.tooltip {
    position: absolute;
    background: white;
    pointer-events: none;
}

/* https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/ */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}